<h1>Bank4Us</h1>
<div>
  <h2>Add Customer</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addForm" ngNativeValidate>

    <div>
      *<label for="firstName">First Name:</label>
      <input required formControlName="firstName" placeholder="First Name" name="firstName" id="firstName" class="form-control" style="width:250px">
    </div>

    <div>
      *<label for="lastName">Last Name:</label>
      <input required formControlName="lastName" placeholder="Last name" name="lastName" id="lastName" class="form-control" style="width:250px">
    </div>

    <div>
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" id="email" class="form-control" style="width:250px">
    </div>

    <div>
      <label for="age">Age:</label>
      <input formControlName="age" placeholder="Age" name="age" id="age" class="form-control" style="width:250px">
    </div>
    <p></p>
    <button type="submit">Create Customer</button>
  </form>
</div>
